.guilds li .guild-inner:hover {
    -webkit-filter: brightness(.5)!important;
    -webkit-animation:spin 2s linear infinite!important;
    transition: 2s ease!important;
}
.guilds li .guild-inner {
    transform:initial;
    transition: 1s ease!important;
}
.avatar-large:hover {
    -webkit-filter: brightness(.5)!important;
    -webkit-animation:spin 2s linear infinite!important;
    transition: 2s ease!important;
}
.avatar-large {
    transform:initial;
    transition: 1s ease!important;
}
.emoji:hover, .emote:hover {
    transform: scale(1.3, 1.3)!important;
    transition: .5s ease!important;
}
.emoji, .emote {
    transform: scale(1, 1);
    transition: .5s ease ;
}
.member {
    transform:rotate(0deg);
    transition: 5s all;
}
.member:hover {
    transform:rotate(360deg);
    transition: 1h all;
}
.message-group:hover .timestamp {
    text-shadow: 0 0 1px white;
    transition: .5s ease ;
    
}
.message-group .timestamp {
    text-shadow: 0 0 2px hsla(0,0%,100%,.2);
    transition: .5s ease ;
}